/*.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }*/

body {
  max-width: 800px;
  //background-color: #03A9F4;
  background-color: #0288D1;
  font-family: 'Roboto', sans-serif;
}
header {
  color: white;
}
h1 {
  text-align: center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #BDBDBD;
    margin: 1em 0;
    padding: 0;
}
.footer {
  text-align: center;
}
.tweet {
  padding: 10px;
  //border: 1px solid red;
  border-radius: 5px;
}
.tweet_buttons {
  display: inline-block;
  margin-left: 10px;
  //clear: both;
  //width: 140px;
}
.tweet_button {
  display: inline-block;
  cursor: pointer;
  width: 140px;
  background-color: #B3E5FC;
  border-radius: 5px;
  text-align: center;
  //vertical-align: middle;
  padding: 0 10px 0 10px;
  //clear: both;
}
.tweet_button:hover {
  background-color: orange;
}
#refresh_tweets_button {
  //float: left;
}
#new_tweet_button {
  //float: right;
}
.feed {
  margin: 10px;
}
.feed_status {
  background-color: #B3E5FC;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}

#new_tweet_form {
  background-color: #03A9F4;
  margin: 10px;
  padding: 10px;
}
